.reviews {
    padding-bottom: 71px;

    &__item {
        display: flex;
        margin-top: 60px;

        img {
            width: 169px;
            height: 169px;
            margin-right: 60px;
        }
    }

    

    &__subtitle {
        color: #0D0D0D;
        font-weight: 700;
        font-size: 18px;
    }

    &__count {
        font-weight: 500;
        font-size: 14px;
        color: #646464;
    }

    &__descr {
        margin-top: 10px;
        font-weight: 300;
        font-size: 16px;
    }
}